#Создайте файл .env из копии этого файла и замените значения переменных реальными данными

SECRET_KEY=yoursecretkey
DEBUG=youdebug

NAME=yourname
USER=youruser
PASSWORD=yourpassword
HOST=yourhost
PORT=yourport

EMAIL_HOST_USER = yourhostuser
EMAIL_HOST_PASSWORD = yourhostpassword
EMAIL_HOST = yourhost
EMAIL_PORT = yourport

CELERY_BROKER_URL = yourcelerybroker
CELERY_RESULT_BACKEND = yourresultbackend

SERVER_EMAIL = EMAIL_HOST_USER
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER

STRIPE_API_KEY=yourstripeapikey

TELEGRAM_URL = yourtelegramurl
TELEGRAM_BOT_TOKEN = yourtelegrambottoken